.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    padding: 50px 30px;
    box-shadow: 0px 0px 8px 10px #888888;
}

.headingContainer {
    background-image: url("../../images/heading.jpeg");
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.headingContainer h1 {
    color: white;
    background-color: black;
}

.convertedValue {
    font-size: 4em;
}
